@font-face {
  font-family: "beer";
  src: url(BEER.TTF);
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container2{
  display: flex;
  flex-direction: column;

}
.anyone {
  font-size: 20px;
  float: left;
  padding-right: 10px;
}
.column1{
  padding-right: 100px;

  display: block;
}

.row1{
  padding-bottom: 10px;
}
.row2 {
  margin: auto;
  font-size: 25em;
  font-family:  inherit;
  padding-top: 10px;
}
body {
   background-color:#FBF6F8!important;
  background-repeat: no-repeat;
  text-align: center !important;
  color: #1D1916;

}
p {
  color: #1D1916 !important;
  font-size: 30px;
}
td {
  font-size: 2em;
  cursor: pointer;
}
.glyphicon{
  padding-left: 30px;
}

h1 {
  color: white;
  padding: 30%;
  font-family: "beer";
  font-size: 50px;
  margin: 0;
}
#back {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  justify-content: center;
  font-family: "beer";
  font-size: 15px;
  width: 25%;
  align-items: center;
}
span {
  padding: 5px;
}
h2 {
  font-family: "beer";
}
h3 {
  font-family: "beer";
}
/*.return{
  float: left;
}*/
/*h1:hover {

  transform: scale(3);
}*/
div.ng-scope{
  background-color: #80808000;
}
input#search {
  width:25%!important;
  float: left;
}
div.beer{
  background-image: url('http://www.appliedart.com/assets/uploads/blog/craft-beer.jpg')!important;
  background-repeat: no-repeat;
  background-position: center;

}

h4 {
  font-size: 30px;
}
form {
    width: inherit !important;
}

button {
  background-color: #7B331F;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: bold;
}

input[type=submit] {
  margin-top: 5px;
  background-color: #7B331F;
  border-radius: 5px;
  padding: 5px;
  border: 0;
  color: white;
  font-weight: bold;

}

input {
  margin: 3px;
}

td {
  background-color: #C7441F;
  border-radius: 5px;
  padding: 5px;
  border: 0;
  color: white;
}