<div>
    <h3>Register</h3>
    <form class="form-group col-md-2" ng-submit='ctrl.registerUser()'>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="username" ng-model="ctrl.newUserForm.username" />
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" ng-model="ctrl.newUserForm.password" />
        <input type="submit" class="btn btn-primary"/>
    </form>
    <br />
    <button ng-click="ctrl.loginStatus = 'login'" class='btn btn-outline-secondary'>Return to Login</button>
</div>
